
.con{
    width:1230px;
    margin: 0 auto;
}

.top{
    width: 100%;
    height:50px;
    background: #E32C32;
    position: fixed;
    top: -50px;
    left:0;
    z-index:100;
    transition: all 0.3s;
    padding:0 60px ;
    line-height: 50px;
}
.top span{
    color:#fff;
    font-weight:bold;
    font-size: 22px;
}
.top .input1{
    border: 0;
    width:652px;
    height:30px;
    margin-left: 120px;
    color:#666666;
    font-size: 12px;
    padding-left: 5px;
    float: left;
}
.top .input2{
    border:0;
    width:90px;
    height:30px;
    float: left;
    color:#fff;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    background: #FF0036;
}
.top .center1{
    margin-top:10px;
    margin-right:230px;
}
    /*头部开始*/
hearder{
    width: 100%;
    height:32px;
    background: #F2F2F2;
    font-size: 12px;
    color:#A9A9A9;
    line-height: 32px;
    border: 1px solid #E5E5E5;
}
hearder ul{
    float: right;
}
hearder ul li{
    float: left;
    margin-left: 17px;
}
hearder ul li b{
    border: 4px solid #9E9E9E;
    border-bottom: none;
    border-left-color: rgba(0,0,0,0);
    border-right-color: rgba(0,0,0,0);
    margin-top: 15px;
    margin-left: 2px;
    float: right;
}
hearder a{
    color:#A9A9A9;
}
hearder a:hover{
    color: red;
}
/*头部结束*/


/*LOGO开始*/
.logoAll{
    width: 100%;

}
.logoAll .logo img{
    width:240px;
    height:130px;
    float: left;
}
.logoAll .search{
    width: 625px;
    margin: 0 auto;
}
.logoAll .search input:nth-child(1){
    width:490px;
    height:39px;
    border:2px solid #FF0036;
    margin-top: 38px;
    color:#666666;
    font-size: 14px;
    padding-left:3px;
    float:left;
}
.logoAll .search input:nth-child(2){
    width:133px;
    height:39px;
    background: #FF0036;
    margin-top: 38px;
    border:2px solid #FF0036;
    margin-left:0px;
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    float:left;
}
.logoAll .search a{
    color:#999999;
    font-size: 14px;
}
.logoAll .search b{
    font-weight: normal;
    font-weight: normal;
    margin:0 5px;
}
.logoAll .wenzi .red{
    color:#FF0036;
}
/*LOGO结束*/


/*banner开始*/
.banner{
    position: relative;
}
.banner .nav{
    width:100%;
    height:36px;
    background: #FF0036;
    line-height: 36px;
}
.banner .nav .left{
    width:200px;
    height: 36px;
    float:left;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    font-weight: bold;
    text-align: center;
    background: #E22127;
}
.banner .nav ul{
    float:right;
}
.banner .nav ul li{
    float: left;
    position: relative;

}
.banner .nav ul li img{
    position: absolute;
    top:-50%;
    left:50%;
    transform: translate(-50%,50%);
    opacity: 0;
    transition: all 0.3s;
}
.banner .nav ul li:hover img{
    opacity: 1;
}
.banner .nav ul li a{
    color:#fff;
    font-size: 16px;
    padding: 0 15px;
}
.banner .banner1{
    width:100%;
    height:500px;
    background: #2AB8FE;
    position: relative;
}
.banner .banner1 .bannerImg{
    width:1190px;
    height:500px;
    margin: 0 auto;
}
.banner .banner1 .bannerImg img{
    width:1190px;
    height:500px;
}
.banner .banner1 .bannerImg .active{
    z-index: 1;
    opacity: 1;
}
.banner .banner1 .bannerImg  a{
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: all 0.3s linear;
}
.banner .banner1 .bannerImg  a:nth-child(1){
    z-index: 1;
}
.banner .banner1 .navLeft{
    width:200px;
    height:500px;
    background:#E3EAEE;
    position: absolute;
    top:0;
    left:60px;
    z-index:9;
}
.banner .banner1 .navLeft li{
    padding-left: 13px;
    height:31px;
    line-height: 31px;

}
.banner .banner1 .navLeft li .erji{
    width:550px;
    height:500px;
    background:#fff;
    position: absolute;
    left:200px;
    top:0;
    padding:20px;
    display: none;
}
.banner .banner1 .navLeft li:hover .erji{
    display: block;
}
.banner .banner1 .navLeft li .erji h3{
    font-size: 14px;
    color:#333;
    float: left;
    width:80px;
}
.banner .banner1 .navLeft li .erji a{
    color:#666;
    margin-right: 10px;
}
.banner .banner1 .navLeft li .erji .pink{
    color:#e54077;
}
.banner .banner1 .navLeft li .erji .gree{
    color:#6347ed;
}
.banner .banner1 .navLeft li .erji .wenzi{
    margin-bottom: 10px;
}
.banner .banner1 .navLeft li .erji .blue{
    color:#427def;
}
.banner .banner1 .navLeft li:hover{
    background: #FFF;
}
.banner .banner1 .navLeft li a{
    color:#000000;
    font-size: 14px;
}
.banner .wheels{
    position:absolute;
    bottom:20px;
    left:50%;
    transform: translate(-50%,0);
    z-index:2;
}
.banner .wheels li{
    width:18px;
    height:18px;
    border-radius: 50%;
    margin-right:10px;
    float: left;
    background: url(../img/wheel.png) ;
    padding: 2px;

}
.banner .wheels .active{
    z-index:4;
    opacity: 1;
    background: url(../img/wheel3.png) center;
}
/*banner结束*/


/*main开始*/

/*active开始*/
main{
    width:100%;
    background:#F5F5F5;
    padding-top:50px;
}
main .active{
    width: 100%;
    height:436px;
}
main .active .activeLeft{
    width:488px;
    height:436px;
    background: #000;
    float:left;
}
main .active .activeRight{
    width:742px;
    height:436px;
    float:left;
    padding-left: 10px;
    background:#fff;

}
main .active .activeRight .mask{
    width:121px;
    height:108px;
    background: rgba(0, 0, 0, 0.9);
    position:absolute;
    top:0;
    left:0;
    opacity: 0;
    text-align: center;
    padding-top: 30px;
}
main .active .activeRight .mask span{
    color:#fff;
    font-size: 12px;
}
main .active .activeRight .mask p{
    width:63px;
    height:18px;
    margin: 0 auto;
    background:red;
    color:#fff;
    border-radius: 10px;
    font-size: 12px;
    margin-top:10px;
}
main .active .activeBigImg ul{
    width:488px;
    height:275px;
    position: relative;
}
main .active .activeBigImg .mask{
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.2);
    width:488px;
    height:275px;
}
main .active .activeBigImg .mask img{
    width:70px;
    height:57px;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    margin: auto;
}
main .active .activeBigImg .mask img:hover{
    animation:scale 0.3s;
}
main .active .activeBigImg li{
    width:488px;
    height:275px;
    position: absolute;
    top: 0;
    left:0;

}
main .active .activeBigImg li:nth-child(1){
    z-index: 1;
}
main .active .activeBigImg img{
    width:488px;
    height:275px;
}
main .active .activeSmallImg img{
    width:159px;
    height:90px;
    float:left;
}
main .active .activeSmallImg li{
    width:159px;
    height:90px;
    float: left;
    margin:10px 3px 10px 0;
    position: relative;
}
main .active .activeSmallImg .mask{
    width:159px;
    height:90px;
    background:rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
}
main .active .activeSmallImg .mask1{
    opacity:1;
}
main .active .activeSmallImg .mask img{
    width:36px;
    height:30px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    cursor: pointer;
}
main .active .activeWord{
    padding-left: 20px;
    height:40px;
    margin:8px 5px 0 0;
}
main .active .activeWord .avtiveForst{
    height:40px;
    width:81px;
    background: url("../img/active6.png") center no-repeat;
    background-size: 81px 31px;
    float: left;
    margin-right:10px;
}
main .active .activeWord .activeList{
    width:300px;
    height:40px;
    float:left;
    overflow: hidden;
}
main .active .activeWord .activeListCon p{
    color:#fff;
    font-size: 14px;
}
main .active .activeRight ul li{
    width:121px;
    height:108px;
    float: left;
    border-right: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    position: relative;
}
main .active .activeRight .activeRightImg{
    width:99px;
    height:50px;
    margin:30px auto 0 auto;
}
@keyframes scale{
    0%{
        transform: scale(1.0);
    }
    75%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.0);
    }

}
main .active .activeSmallImg .mask img:hover{
    animation:scale 0.5s;
}
main .active .activeSmallImg{
    position: relative;
}
main .active .activeSmallImg .pre,.next{
    width:17px;
    height:90px;
    background:rgba(255,255,255,0.2);
    position: absolute;
    top:10px;
    line-height: 90px;
    color:#fff;
    font-size: 18px;
    text-align:center;
    cursor: pointer;
}
.next{
    right:0;
}
main .active .bannerinner{
    width:976px;
    overflow: hidden;
    transition: all 0.6s;
}
main .active .activeListCon{
    height:160px;
    transition: all 1s;
}
main .active .activeListCon li{
    height:40px;
    line-height: 20px;
}
/*active结束*/

/*潮流前沿开始*/
main .fashion{
    height:550px;
}
main .fashion ul{
    width:100%;
    height:100%;
}
main .fashion ul li{
    width:238px;
    height:510px;
    background: #fff;
    margin-right: 10px;
    float: left;
    margin-top: 30px;
}
main .fashion ul li .title{
    width:100%;
    height:37px;
    background: #FF0036;
    text-align: center;
    color:#fff;
    font-weight:bold;
    line-height: 37px;
    font-size: 16px;
}
main .fashion ul li a{
    display: block;
    width:100%;
    height:220px;
}
main .fashion ul li .xian:after{
    content:"";
    display: block;
    width:200px;
    height:1px;
    background:#eee;
    margin: 10px  auto 0 auto;
}
main .fashion ul li h2{
    font-size: 22px;
    text-align: center;
    margin-top: 19px;
    color:#170017;
    margin-bottom: 2px;
}
main .fashion ul li p{
    font-size: 14px;
    text-align: center;
    color:#888888;
}
main .fashion .bgImg{
    width:140px;
    height:140px;
    background: #F6F6F6;
    margin:10px auto 0 auto;
    border-radius: 50%;
}
main .fashion .bgImg img{
    width:133px;
    height:133px;
    transition: all 0.1s linear;
}
main .fashion ul li img:hover{
    transform:scale(1.1);
}

/*潮流前沿结束*/
main .center{
    width:100%;
    height:90px;
    margin-top: 20px;
}
main .center a{
    display: block;
    width:100%;
    height:90px;
}
main .center a img{
    width:1230px;
    height:90px;
}

//* 美丽人生开始 */
.meilirensheng{
    /* 	margin: 30px auto 0; */
    padding-top: 30px;
    width: 100%;
    height: 470px;
    position: relative;
    background: #F2F2F2;

}
.baozhu{
    width: auto;
    height: auto;
    margin-left: 60px;
    line-height: 24px;
    margin-top: 40px;
}
.mark1{
    background-color: #EA5F8D;
    display: inline-block;
    width: 5px;
    height: 24px;
    vertical-align: top;
}
.name1{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #000;
    line-height: 24px;
    height: 24px;
    margin-left: 10px;
}
.name2{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    line-height: 24px;
    height: 24px;
}
.biaoti{
    position: absolute;
    top:-30px;
    right: 0px;
    text-align: right;
}
.biaoti a{

    color: black;
}
.biaoti .b-a:hover{
    /* text-decoration: underline; */
    border-bottom: 1px solid #000;
}
.b-a{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0px 10px;
    font-size: 14px;
    border: none;

}
.meilibody{
    width: 1230px;
    height: 440px;
    margin: 0 auto;
    margin-top: 5px;
    position: relative;
}
.meinv{
    display: block;
    width: 100%;
    height: 330px;
    transition: opacity .3s ease-out;
    color: #000;
}
.meiliz{
    width: 246px;
    height: 440px;
    float: left;
    position: relative;
    display: block;
    margin: 0 auto;
}
.title-ctn{
   width:100%;
    height:30px;
    text-align: center;
    font-size: 14px;
    color:#000;
    line-height: 30px;



}
.title-con{
    width: 246px;
    height: 110px;
    background-color: #EA5F8D;
    overflow: hidden;
    color: #fff;
    position: relative;
    padding: 0;
    margin: 0;
}

.title-con .meiyi{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}
.title-con .dapai{
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.title-con .de{
    width: 100%;
    height: 30px;
    background: url(../img/ba1.png) center 0 no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
}
.meilizj{
    width: 735px;
    height: 440px;
    float: left;

}
.meilizj .m-am{
    width: 244px;
    height: 220px;
    float: left;
    display: block;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    position: relative;
    background-color: #fff;
    color: #000;
}
.ml-s1{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 220px;
    font-size: 16px;
    z-index: 10;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
    font-weight: normal;
}
.ml-s2{
    position: absolute;
    top: 54px;
    left: 25px;
    width: 220px;
    font-size: 12px;
    z-index: 10;
    line-height: 18px;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #EA5F8D;
    font-weight: normal;
}
.ml-i1{
    width: 154px;
    height: 154px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: left 1.3s;
}
.m-am .ml-i1:hover{
    transform: translate(-1.5px,0px);

}
.meiliy .ml-iy:hover{
    transform: translate(-1.5px,0px);

}
.meiliy{
    width: 248px;
    height: 440px;
    float: left;

}
.ml-ay{
    width: 248px;
    height: 146px;
    float: left;
    display: block;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    position: relative;
    background-color: #fff;
}
.ml-ay1{
    height: 220px;
}
.ml-ay1 img{
    width:154px;
    height: 154px;
}
.ml-sy1{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 220px;
    font-size: 18px;
    z-index: 10;
    line-height: 24px;
    height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ml-sy2{
    position: absolute;
    top: 54px;
    left: 25px;
    width: 220px;
    font-size: 14px;
    z-index: 10;
    line-height: 18px;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #EA5F8D;
}
.ml-iy{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: right .3s;
}
.wordinner{
    height:120px;
    transition: all 0.3s;
}
.wordCK{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgba(255,255,255,.8);
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left:0;
    bottom:110px;
    padding: 0;
    margin: 0;
    color: #000;

}
/* 美丽人生结束 */


/* 潮电酷玩开始 */
.zheng{
    position: absolute;
    top: 58px;
    left: 25px;
    font-size: 16px;
}
.mls4{
    position: absolute;
    top: 85px;
    left: 25px;
    font-size: 16px;
}
.zheng1{
    font-size:24px;
}
.border{
    border-right:0;
}
/* 潮电酷玩结束 */


/*打造爱巢开始*/
.red2{
    background:#F15453;
}
.red1{
    color:#F15453;
}
/*打造爱巢结束*/

/*户外出行开始*/
.green{
    background: #19C8A9;
}
.green1{
    color: #19C8A9;
}
/*户外出行结束*/


/*猜你喜欢开始*/
.likeAll{
    width: 100%;
    height:43px;
    margin-top: 20px;
}
.likeAll .likeTitle{
    width:160px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;

}
.likeAll .likeTitle span{
    font-size:18px;
    color:#979797;
    position: relative;
}
.likeAll .likeTitle span:before{
    content: "";
    display:block;
    width:30px;
    height:1px;
    background:#979797;
    position:absolute;
    top:11px;
    left:-45px;
}
.likeAll .likeTitle span:after{
    content: "";
    display:block;
    width:30px;
    height:1px;
    background:#979797;
    position:absolute;
    top:11px;
    left:100px;
}
.likeAll .likeCon{
    width:100%;
    height:326px;
}
.likeAll .likeCon li{
    width:239px;
    height:326px;
    margin-right: 8px;
    background: #fff;
    float:left;
    margin-bottom:15px;
    position: relative;
    transition: all 0.3s;
}
.likeAll .likeCon li .mask{
    width:239px;
    height:326px;
    background:rgba(0,0,0,0.1);
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
}
.likeAll .likeCon li .mask:hover{
    opacity: 1;
}
.likeAll .likeCon li a{
    display: block;
    width:231px;
    height:318px;
    margin: 4px auto;
}
.likeAll .likeCon li:hover{
    border: 1px solid red;
}
.likeAll .likeCon li a img{
    width:231px;
    height:235px;
}
.likeAll .likeCon li a h2{
    padding:5px 10px 5px 10px;
    color:#666666;
    font-size: 14px;
    text-align: left;
}
.likeAll .likeCon li a span{
    font-size: 20px;
    color:#FF0036;
    text-align:left;
    padding-left: 10px;
}
/*猜你喜欢结束*/

/*main结束*/


/* 底部开始 */
.footer {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.tmall-ensure {
    width: 1190px;
    height: 100px;
    background: url(../) no-repeat;
    margin: 25px auto;
    padding: 0;
    background: url('../img/footer1.jpg') no-repeat;
}
.tmall-desc {
    width: 1190px;
    padding-top: 22px;
    height: 190px;
    margin: auto;
    border-top: 1px solid #ededed;
    background: url("../img/footer2.png") 45px bottom no-repeat;
}

.footer .lie1 {
    float: left;
    width: 186px;
    padding-left: 52px;
}
.footer h2{
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.footer p{
    width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    font-size: 14px;
}

.footer img{
    width: 105px;
    height: 105px;
}
.copyright {
    border-top: 2px solid #c40000;
    background: #000;
    text-align: left;
    min-height: 177px;
}
.copyright .info{
    width: 1190px;
    margin: 10px auto;
    color: #fff;
    line-height: 25px;
}

.footer p a {
    margin-right: 3px;
    color: #fff;
    font-size: 12px;
}
.copyright .otherlink{
    width: 1190px;
    margin: 15px auto;
    color: #fff;
    line-height: 25px;

}
.copyright .footer-copyright {
    line-height: 20px;
    background: #000;
    color: #a4a4a4;
    width: 1190px;
    margin: 0 auto;
}
.copyright .footer-copyright a{
    font-size: 12px;
    color: #a4a4a4;
    margin-right: 3rem;
}
.copyright .footer-copyright img{
    padding-top: 10px;
    width: 20px;
    height: 20px;
}
.copyright .footer-copyright .pic{
    width: 80px;
    height: 30px;
}

/* 底部结束*/

/* 右侧固定开始 */
.navRight{
    width: 35px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: #000000;
    z-index: 100;
}
.navRight li{
    width: 35px;
    height: 35px;
    position: relative;
    font-size: 12px;

}
.navRight li:hover{
    background-color:#FF0036;
}
.navRight .list1{
    background-image:url(../img/right1.png);
    margin-top: 100px;

}
.navRight .list2{
    width: 100%;
    height: 100px;
}
.navRight i{
    width: 100%;
    display: block;
    margin: 20px 5px 0 5px;
}
.navRight .list3{
    background:url("../img/right2.png") no-repeat;
    margin-top: 10px;

}
.navRight .list4{
    background:url("../img/right3.png") no-repeat;
    margin-top: 10px;
}
.navRight .list5{
    background:url("../img/right5.png") no-repeat;
    margin-top: 10px;
}
.navRight .list6{
    background:url("../img/right6.png") no-repeat;
    margin-top: 10px;
}
.navRight .list7{
    background:url("../img/right7.png") no-repeat;
    margin-top: 10px;
}
.navRight .list8{
    background:url("../img/right10.png") no-repeat ;
    margin-top: 30px;
}
.navRight .list10{
    background:url("../img/right8.png") no-repeat;

}
.navRight .toTop{
    background:url("../img/top.png") no-repeat;
}
.navRight .erjiS{
    width: 0px;
    height: 0px;
    border-left: 8px solid #494949;
    border-top:8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 25%;
    left:90px;
}
.erji1{
    width: 90px;
    height: 36px;
    background-color: #494949;
    position: absolute;
    top: 0;
    left: -90px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
}
.navRight li:hover .erji1{
    opacity: 1;

}
.erji2{
    width: 90px;
    height: 36px;
    background-color: #494949;
    position: absolute;
    top: 0;
    left: -90px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
    z-index: 20；
}

.navRight li:hover .erji2{
    opacity: 1;

}
.erji3{
    width: 90px;
    height: 36px;
    background-color: #494949;
    position: absolute;
    top: 0;
    left: -90px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
    z-index: 21;
}

.navRight li:hover .erji3{
    opacity: 1;

}
.erji4{
    width: 90px;
    height: 36px;
    background-color: #494949;
    position: absolute;
    top: 0;
    left: -90px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
}

.navRight li:hover .erji4{
    opacity: 1;

}
.erji5{
    width: 90px;
    height: 36px;
    background-color: #494949;
    position: absolute;
    top: 0;
    left: -90px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
}

.navRight li:hover .erji5{
    opacity: 1;

}
.erji6{
    width: 90px;
    height: 36px;
    background-color: #494949;
    position: absolute;
    top: 0;
    left: -90px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
}

.navRight li:hover .erji6{
    opacity: 1;
}
.erji7{
    width: 155px;
    height: 207px;
    position: absolute;
    top: -160px;
    left: -150px;
    opacity: 0;
    transition: all 1s ease;
    background:url("../img/right10.png") no-repeat;
}
.erji7 .img1{
    position: absolute;
    top: 25%;
    left: 20%;
    width: 100px;
    height: 100px;
}
.erji7 .img2{
    position: absolute;
    top: 73%;
    left: 10%;
    width: 135px;
    height: 45px;
}
.navRight li:hover .erji7{
    opacity: 1;
}
.erji8{
    width: 90px;
    height: 36px;
    background-color: #494949;
    position: absolute;
    top: 0;
    left: -90px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
}

.navRight li:hover .erji8{
    opacity: 1;
}
.erji11{
    width: 155px;
    height:185px;
    position:absolute;
    top:100px;
    right:100px;
}
/* 右侧固定结束 */

/* 左侧固定开始 */
.leftbar{
    width:0px;
    height:0px;
    position:fixed;
    left:50%;
    bottom:50px;
    margin-left: -669px;
    overflow: hidden;
    transition: all 0.3s;
}
.leftbar div{
    width:36px;
    height:36px;
    background:#626262;
    margin-bottom: 1px;
    color:#fff;
    font-size: 12px;
    text-align:center;
    padding: 0 6px;
    cursor: pointer;
}
.leftbar div a{
    color:#fff;
    font-size: 12px;
    display: block;
    width:24px;
    height:28px;
    margin:0 auto
}
.leftbar .daohang{
    background: #FF0036;
    line-height: 36px;
}
.leftbar .toTopL{
    background:#ABABAB;
    line-height: 36px;
}

/*左侧固定结束*/